body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages{
  display: flex;
  justify-content: center
}

ul {
  padding: 0;
}

li {
  list-style-type: none
}

.languages li {
  margin: 10px;
  font-weight:bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.popular-rank {
  margin: 10px;
  font-size: 20px 
}

.nav{
  display: flex;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}

.nav a {
  text-decoration: none;
  color: #d0021b;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: block;
  color: #e6e6e6;
  background-color: #0a0a0a;
  font-size: 15px;
  padding: 7px 0;
  border-radius: 3px;
  text-align: center;
  width: 200px;
  padding: 10px auto;
  border: none;
  text-decoration: none;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}